/* 
* criando váriaveis das cores da minha paleta selecionada no Miro e das minhas fontes que também estão lá 
* o que facilita caso tenha de ocorrer uma alteração nas fontes de todo o sistema, por ex, todas minhas páginas estão com a fonte roboto, cor preta, e eu decido trocar as cores da aplicação? imagina o trabalho que isso vai dar, então, dessa forma fica mais simples, pois você altera em apenas um único lugar, é o mesmo conceito da própria programação mesmo
*/
:root {
    --azul-escuro: #414757;
    --preto-principal: #23201c;
    --branco-principal: #fcf9f9;
    --marrom: #ac9579;
    --verde-escuro: #2f4237;
    --preto-titulo: #242424;
    --fundo-da-aplicacao: #f0f0f0;
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'Roboto', sans-serif;
}

body {
    font-family: var(--fonte-secundaria);
    /* 
    * aplicando conceito de escala modular (seguindo hierarquia de elementos), exemplo simplificado (ajuyda a manter a constância da aplicação e mantê-la mais harmoniosa e agradavél aos olhos)
    * aqui estou definindo o valor "base" da fonte de toda a aplicação dentro do body (da aplicação inteira pois tudo que será exibido está dentro do body)
    * com base na escala modular, seguindo a hierarquia dos elementos (em qual possui mais destaque), será aumetado de 6 em 6px, então h3 (que é menos relevante que h2 e h1) será 26, h2 (menos relevante que h1 seguindo a hierarquia) será 32 e por fim o que se encontra no topo da hierarquia, h1, com 38 px
    */
    font-size: 20px;
    /* margin: 1em; */
    color: var(--branco-principal);
    background-color: var(--preto-principal);
}

header {
    /* 
    * quero 1 em de padding superior e inferior
    * e 10% da tela de distância dos lados (% pega a % do elemento pai, vh/vw pela da tela)
    */
    padding: 1em 10%;
    background-color: var(--preto-principal);
    color: var(--branco-principal);
}

/* 
* como vamos mudar a cor de fundo das nossas seções para saber onde começam e terminam e não passarem a impressão de estarem "todas juntas" por conta de terem o "mesmo fundo", iremos colocar uma cor de fundo em cada seção
* estavamos usando um margin 1em em todo o body do sistema, então, todo o conteúdo estava separado por 1 em, fazendo com que fique a cor de fundo apenas na section e fique linhas com o fundo branco do body, ou seja, o background do body não cobriu corretamente, onde, removendo o margin e aplicando PADDING, podemos atingir nosso objetivo, preenchendo toda seção com a cor de fundo que desejamos (pois apenas aumentamos o espaçamento interno da section dessa forma
* é necessário isso em header também pois também quero um espaçamento nele, e como está em body, e removi o margin dele, header ficaria sem um espaçamento adequado
* 10% para fazer com que tenha 10% de distancia do container pai para os lados
*/
section {
    padding: 1em 10%;
}

p {
    font-family: var(--fonte-secundaria);
}

/* estou dizendo que todos os links (âncoras) da aplicação vão ter essa cor, é necessário especificar a cor da âncora */
a {
    color: var(--fundo-da-aplicacao);
    text-decoration: none;
}


/* 
* pseudoclasses (hover, active etc) são classes já montadas para apenas utilizarmos no elemento em questão e monitorarmos sua ação, para que não tenhamos que criar uma lógica super complicada para gerar algo, essas pseudoclasses já nos entregam funções prontas para apenas utilizarmos em nossos elementos
*/
a:hover {
    color: var(--ciano);
}

/* quando se segura com o mouse no elemento ele vai atingir esta cor */
a:active {
    color: #012e40;
}

/* vale ressaltar que todos campos abaixo terão as mesmas medidas, todos h3 terão a mesma medida de fonte, padding, etc */

h3 {
    font-size: 26px
}

h2 {
    font-size: 38px;
    /* baseado na fonte acima, de 32px */
    padding-bottom: 1em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sobre-mim-button {
    display: none;
}

.conteudo-home {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.conteudo-home img {
    /* vw é referente a unidade de medida da tela do usuário, não do elemento pai (uma div pai por ex), pro mobile é bom usar esse tipo de medida */
    /* % para a imagem ocupar apenas 100% do elemento pai (section) (com vw seria da tela, o que não é o que quero */
    width: 100%;
    border-radius: 50%;
    box-shadow: 12px 8px 40px var(--azul-escuro-claro);
}

.texto-sobre-mim-home p {
    font-size: .9em;
}

.projetos-lista {
    /* % para a imagem ocupar apenas 100% do elemento pai (section) (com vw seria da tela, o que não é o que quero */
    width: 100%;
}

.projetos-lista li img {
    width: 100%;
}

/* .home-titulo {
    text-align: center;
    padding: 1em;
} */

/* 
* não irá aparecer em dispositivos móveis os itens dessa lista
*/
.cabecalho-lista {
    display: none;
}

.projetos-lista {
    display: grid;
    /* 
    * separando a tela em 12 colunas de uma fração da tela (1fr)
    */
    grid-template-columns: repeat(12, 1fr);
    list-style-type: none;
    gap: 1em;
    /* que é o tamanho da fonta que está sendo utilizada no projeto */
}

.conteudo-projetos {
    text-align: center;
    background-color: var(--ciano);
}

.conteudo-projetos p {
    padding-bottom: 1em;
}

.projetos-lista li {
    /* 
    * dizendo apra cada li (que contêm as imagens) ocupar as 12 colunas que eles possuem
    */
    grid-column: span 12;
}

.conteudo-habilidades h2 {
    text-align: center;
}

/* atingindo a a lista através da div pai por ter mais de uma ul com as mesmas configurações */
.habilidades-lista {
    list-style-type: none;
    display: flex;
    /* dizendo que eles não ficarão um ao lado do outro (como o flex deixa por padrão, e sim um abaixo do outro,como um display block por ex */
    flex-direction: column;
    gap: 1em;
}

/* atingindo os elementos filhos da lista através da div pai por ter mais de uma ul com as mesmas configurações */
.habilidades-lista li {
    background-color: var(--branco-principal);
    padding: 1em;
    border-radius: 1em;
    color: var(--preto-principal);
}

.habilidades-lista li h3 {
    padding-top: 1em;
    /*
    * espaço menor entre o ícone e o texto, no caso estamos usando metade da medida dela (como o padrão da fonte é 20, com .5 estamos usando 10)
     */
    padding-bottom: .5em;
}

.habilidades-lista li img {
    background-color: var(--preto-titulo);
    padding: 1rem;
    width: 3em;
    border-radius: 0.5em;
}

.agrupa-conteudo-contato {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.conteudo-contato h2 {
    text-align: center;
}

.contatos-lista {
    list-style-type: none;
    display: flex;
    /* mudando a direção para coluna para permitir que eu use o atributo gap para criar um espaçamento de 1em de cada elemento */
    flex-direction: column;
    gap: 1em;
}

.contatos-lista li {
    background-color: var(--ciano);
    padding: 1em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    gap: .8em;
    height: 17vh;
}

.contatos-lista li img {
    background-color: var(--azul-ciano);
    padding: .7em;
    width: 2.8em;
    border-radius: 2em;
}

/* todas as configurações para telas de monitor, o restante acima é apenas para mobile, pois estamos começando com a técnica mobile-first */
@media screen and (min-width: 720px) {

    .conteudo-home {
        flex-direction: row;
        justify-content: space-between;
    }

    .texto-sobre-mim-home {
        width: 45%;
    }

    .sobre-mim-button {
        padding: 1em ;
        font-size: .7em;
        margin-top: 1em;
        background-color: var(--preto-titulo);
        color: var(--fundo-da-aplicacao);
        border: none;
        border-radius: 1em;
        font-family: var(--fonte-secundaria);
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cabecalho-lista {
        display: flex;
        /* provavelmente 16*3px pois não especifiquei nenhum tamanho de fonte */
        gap: 3em;
        list-style-type: none;
    }

    .cabecalho-lista li a {
        text-decoration: none;
    }

    .conteudo-home {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* 
    * definindo display block para o primeiro span da classe home-titulo para que ele fique acima do outro texto que está na mesma classe
    */
    .home-titulo span:nth-child(1) {
        display: block;
    }

    .sobre-mim-button {
        display: block;
        margin-top: 4em;
    }

    .conteudo-home img {
        width: 500px;
        height: 700px;
        /*
        * utilizado para fazer com que a imagem se adapte baseado nas medidas que coloquei, no caso acima coloquei medidas que são menores do que a imagem veio por padrão, então, ela fica estranha, esticada, e com esse comando abaixo ela será "cortada" para se adaptar ao tamanho que eu atribui para ela sem que a qualidade seja perdida 
         */
        object-fit: cover;
        /* border-radius: 80rem; */
    }

    /* 
    * método em grid para alinhar as imagens no centro (é necessário sobrar uma coluna no começo e uma no final para o alinhamento correto)
    * em grid é necessário definir onde o item daquela coluna começa e onde termina, usando como base a quantidade de colunas que definimos (12) então a próxima imagem começará na posição que a última terminou
    * no primeiro elemento li filho de projetos lista estou definindo que ela começará na posição 2 e ocupará 3 de espaço das 12 colunas, ou seja, começará na posição 2 e terminará na posição 5 (pois começa na 2, ocupa mais 3 colunas de espaço (com span 3))
    * já a segunda imagem (segundo elemento filho (segundo li) da classe projetos-lista) começa na posição 5 (onde a última terminou) e terminará na posição nove (pois ocupará 4 de espaço)
    * a terceira começa na 9 (onde a última img terminou) e terminará na 11 (sobrando uma coluna no final, dando ideia de espaçamento)
    */
    .projetos-lista li:nth-child(1) {
        grid-column: 2 / span 3;
    }

    .projetos-lista li:nth-child(2) {
        grid-column: 5 / span 4;
    }

    .projetos-lista li:nth-child(3) {
        grid-column: 9 / span 3;
    }

    /*
    * definindo para todas terem o msm tamanho e não ficarem esticadas
    */
    .projetos-lista li img {
        height: 300px;
        object-fit: cover;
    }

    .habilidades-lista {
        /* deixando-os lado a lado alterando apenas o atributo flex-direction, que no escopo global (focado em mobile, estava em column) */
        flex-direction: row;
    }

    .habilidades-lista li {
        height: 300px;
        /* para que os blocos tenham os mesmos tamanhos */
        flex: 1;
    }

    .agrupa-conteudo-contato {
        flex-direction: row;
        justify-content: space-between;
    }
}